@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1.4fr 4fr;

  h1 {
    color: red;
  }

  .sidebar {
    background-image: url(./assets/mesh-gradient.png);
    background-size: cover;
    background-repeat: round;
    position: relative;
    font-family: "Space Mono", monospace;

    .card-front {
      background-image: url(./assets/bg-card-front.png);
      background-size: cover;
      background-position: center;
      border-radius: 7px;
      width: clamp(25em, 30vw, 34em);
      font-size: 1em;
      height: clamp(14em, 18vw, 19em);
      position: absolute;
      left: 36%;
      top: 13%;
      color: white;

      padding: 1.5em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      z-index: 1;
      // transition: all 1.5s ease;
      -webkit-box-shadow: 8px 8px 20px -1px rgba(0, 0, 0, 0.41);
      box-shadow: 8px 8px 20px -1px rgba(0, 0, 0, 0.41);

      .icon {
        max-width: 70px;
      }

      .middle-front {
        font-size: clamp(1.5em, 1.9vw, 2.3em);
        letter-spacing: 3px;
      }

      .bottom-front {
        display: flex;
        justify-content: space-between;
        font-size: clamp(1em, 1vw, 1.2em);

        .card-name {
          letter-spacing: 2px;
          text-transform: uppercase;
        }

        .card-date {
          letter-spacing: 2px;
        }
      }
    }

    .card-back {
      background-image: url(./assets/bg-card-back.png);
      background-size: cover;
      background-position: center;
      border-radius: 7px;
      width: clamp(25em, 30vw, 34em);
      height: clamp(14em, 18vw, 19em);
      position: absolute;
      top: 42%;
      left: 52%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      // transition: all 1.5s ease;
      -webkit-box-shadow: 8px 8px 20px -1px rgba(0, 0, 0, 0.41);
      box-shadow: 8px 8px 20px -1px rgba(0, 0, 0, 0.41);
    }

    .cvc-back {
      margin-right: 52px;
      padding-bottom: 4px;
      color: white;
      font-size: 1.3em;
      letter-spacing: 2px;
    }
  }

  .main {
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      min-width: 400px;
      width: 28em;
      margin-left: 10rem;

      label {
        margin-block: 0.5em;
        font-size: 1em;
        font-family: "Space Grotesk", sans-serif;
      }

      input {
        margin-bottom: 2em;
        border: 2px solid hsl(279, 6%, 55%);
        border-radius: 5px;
        padding: 0.5rem;
        font-family: "Quicksand", sans-serif;
        font-size: 1em;
      }

      input:focus {
        outline: none;
        border-image-source: linear-gradient(
          hsl(278, 92%, 30%),
          hsl(249, 99%, 64%)
        );
        border-width: 2px;
        border-image-slice: 1;
        border-image-repeat: round;
        border-radius: 100%;
      }

      fieldset {
        display: flex;
        flex-direction: column;
        border: none;
        margin-block: 0.5rem;
      }

      .card-finer-details {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .month-date {
          display: flex;
          flex-direction: column;

          input {
            margin-left: 0;
            max-width: 70px;
          }
        }

        .cvc {
          display: flex;
          flex-direction: column;
          flex: 0 1 59%;

          input {
            margin-left: 0;
            width: 100%;
          }
        }
      }

      button {
        background-color: hsl(277, 68%, 12%);
        color: white;
        padding: 10px;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        font-family: "Space Grotesk", sans-serif;
        transition: all 0.5s ease;
        outline: none;
      }

      button:hover {
        background-color: hsl(277, 68%, 18%);
        cursor: pointer;
      }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
}

@media only screen and (max-width: 1168px) {
  .container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1.5fr 3fr;
    grid-template-columns: initial;

    .sidebar {
      .card-front {
        left: 10%;
        top: 7%;
      }

      .card-back {
        left: initial;
        right: 10%;
        top: 16%;
      }
    }

    .main {
      form {
        margin-top: 25px;
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 608px) {
  .container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1.5fr 3fr;
    grid-template-columns: initial;

    .sidebar {
      .card-front {
        width: 21rem;
        height: 11rem;
        font-size: .8em;

        .middle-front {
          font-size: 1.4em;
        }

        .icon {
          max-width: 50px;
        }
      }

      .card-back {
        width: 21rem;
        height: 11rem;
        left: initial;
        right: 8%;
        top: 40%;
        font-size: .8em;
      }
    }
    .main {
      form {
        width: 94%;
        min-width: fit-content;
        margin-top: 22px;

        .card-finer-details {
          .month-date {
            input {
              max-width: 50px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  .container {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1.5fr 3fr;
    grid-template-columns: initial;

    .sidebar {
      .card-front {
        width: min(17rem);
        height: 9rem;
        font-size: 12px;
        top: 40%;
        left: 2%;

        .middle-front {
          font-size: 14px;
        }
      }

      .card-back {
        width: min(17rem);
        height: 9rem;
        left: initial;
        right: 2%;
        top: 6%;
        font-size: .7em;
      }
    }

    .main {
      form {
        max-width: 91%;
        margin-top: 22px;

        input {
          font-size: .7em;
        }

        label {
          font-size: .7em;
        }

        button {
          font-size: .7em;
        }

        .card-finer-details {
          .month-date {
            input {
              max-width: 50px;
            }
          }
        }
      }
    }
  }
}
